body {
  padding-top: 50px;
  font-family:"ubuntu";
}
h2{
	font-family: "ubuntu";
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.table-bordered {
border: 1px solid #dddddd;
border-collapse: separate;
border-left: 0;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.table {
width: 500px;
margin-bottom: 20px;
background-color: transparent;
border-collapse: collapse;
border-spacing: 0;
display: table;
margin-bottom: 0;
border: none;
}


thead {
display: table-header-group;
vertical-align: middle;
border-color: inherit;
}

h3 {
top: 2px;
position: relative;
left: 10px;
display: inline-block;
margin-right: 3em;
font-size: 14px;
font-weight: 600;
color: #555;
line-height: 18px;
text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}